USE [Shoe]
GO
/****** Object:  Table [dbo].[Address$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address$](
	[id] [int] NOT NULL,
	[index] [int] NOT NULL,
	[city] [nvarchar](255) NOT NULL,
	[street] [nvarchar](255) NOT NULL,
	[house] [int] NULL,
 CONSTRAINT [PK_Address$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Category$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order$](
	[id] [int] NOT NULL,
	[dateOrder] [datetime] NOT NULL,
	[dataDelivery] [datetime] NOT NULL,
	[AddressPoint] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[code] [int] NOT NULL,
	[statusId] [int] NOT NULL,
 CONSTRAINT [PK_Order$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct$](
	[id] [int] NOT NULL,
	[orderId] [int] NULL,
	[tovarId] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_OrderProduct$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Producer$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product$](
	[id] [int] NOT NULL,
	[article] [nvarchar](255) NOT NULL,
	[tovarId] [int] NOT NULL,
	[unit] [nvarchar](255) NOT NULL,
	[cost] [money] NOT NULL,
	[supplierId] [int] NOT NULL,
	[producerId] [int] NOT NULL,
	[catrgoryId] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Product$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Role$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Status$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Supplier$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar$]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Tovar$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User1]    Script Date: 17.03.2026 20:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleid] [int] NULL,
	[lastname] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address$] ([id], [index], [city], [street], [house]) VALUES (1, 420151, N'Лесной', N'Вишневая', 32)
INSERT [dbo].[Address$] ([id], [index], [city], [street], [house]) VALUES (2, 125061, N'Лесной', N'Подгорная', 8)
INSERT [dbo].[Address$] ([id], [index], [city], [street], [house]) VALUES (3, 630370, N'Лесной', N'Шоссейная', 24)
GO
INSERT [dbo].[Category$] ([id], [name]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Category$] ([id], [name]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[Order$] ([id], [dateOrder], [dataDelivery], [AddressPoint], [userId], [code], [statusId]) VALUES (1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 4, 901, 1)
INSERT [dbo].[Order$] ([id], [dateOrder], [dataDelivery], [AddressPoint], [userId], [code], [statusId]) VALUES (2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 1, 902, 1)
INSERT [dbo].[Order$] ([id], [dateOrder], [dataDelivery], [AddressPoint], [userId], [code], [statusId]) VALUES (3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 2, 903, 1)
GO
INSERT [dbo].[OrderProduct$] ([id], [orderId], [tovarId], [quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrderProduct$] ([id], [orderId], [tovarId], [quantity]) VALUES (2, 2, 3, 1)
INSERT [dbo].[OrderProduct$] ([id], [orderId], [tovarId], [quantity]) VALUES (3, 3, 5, 10)
GO
INSERT [dbo].[Producer$] ([id], [name]) VALUES (1, N'Kari')
INSERT [dbo].[Producer$] ([id], [name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Producer$] ([id], [name]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Product$] ([id], [article], [tovarId], [unit], [cost], [supplierId], [producerId], [catrgoryId], [discount], [quantity], [description], [photo]) VALUES (1, N'А112Т4', 1, N'шт.', 4990.0000, 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Product$] ([id], [article], [tovarId], [unit], [cost], [supplierId], [producerId], [catrgoryId], [discount], [quantity], [description], [photo]) VALUES (2, N'F635R4', 1, N'шт.', 3244.0000, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Product$] ([id], [article], [tovarId], [unit], [cost], [supplierId], [producerId], [catrgoryId], [discount], [quantity], [description], [photo]) VALUES (3, N'H782T5', 2, N'шт.', 4499.0000, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
GO
INSERT [dbo].[Role$] ([id], [name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role$] ([id], [name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role$] ([id], [name]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Status$] ([id], [name]) VALUES (1, N'Завершен')
INSERT [dbo].[Status$] ([id], [name]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[Supplier$] ([id], [name]) VALUES (1, N'Kari')
INSERT [dbo].[Supplier$] ([id], [name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Tovar$] ([id], [name]) VALUES (1, N'Ботинки')
INSERT [dbo].[Tovar$] ([id], [name]) VALUES (2, N'Туфли')
INSERT [dbo].[Tovar$] ([id], [name]) VALUES (3, N'Кроссовки')
GO
SET IDENTITY_INSERT [dbo].[User1] ON 

INSERT [dbo].[User1] ([id], [roleid], [lastname], [firstname], [surname], [login], [password]) VALUES (1, 1, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User1] ([id], [roleid], [lastname], [firstname], [surname], [login], [password]) VALUES (2, 1, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User1] ([id], [roleid], [lastname], [firstname], [surname], [login], [password]) VALUES (3, 1, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User1] OFF
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_Address$] FOREIGN KEY([AddressPoint])
REFERENCES [dbo].[Address$] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_Address$]
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_Status$] FOREIGN KEY([statusId])
REFERENCES [dbo].[Status$] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_Status$]
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_User1] FOREIGN KEY([userId])
REFERENCES [dbo].[User1] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_User1]
GO
ALTER TABLE [dbo].[OrderProduct$]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct$_Order$] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order$] ([id])
GO
ALTER TABLE [dbo].[OrderProduct$] CHECK CONSTRAINT [FK_OrderProduct$_Order$]
GO
ALTER TABLE [dbo].[OrderProduct$]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct$_Product$] FOREIGN KEY([tovarId])
REFERENCES [dbo].[Product$] ([id])
GO
ALTER TABLE [dbo].[OrderProduct$] CHECK CONSTRAINT [FK_OrderProduct$_Product$]
GO
ALTER TABLE [dbo].[Product$]  WITH CHECK ADD  CONSTRAINT [FK_Product$_Category$] FOREIGN KEY([catrgoryId])
REFERENCES [dbo].[Category$] ([id])
GO
ALTER TABLE [dbo].[Product$] CHECK CONSTRAINT [FK_Product$_Category$]
GO
ALTER TABLE [dbo].[Product$]  WITH CHECK ADD  CONSTRAINT [FK_Product$_Producer$] FOREIGN KEY([producerId])
REFERENCES [dbo].[Producer$] ([id])
GO
ALTER TABLE [dbo].[Product$] CHECK CONSTRAINT [FK_Product$_Producer$]
GO
ALTER TABLE [dbo].[Product$]  WITH CHECK ADD  CONSTRAINT [FK_Product$_Supplier$] FOREIGN KEY([supplierId])
REFERENCES [dbo].[Supplier$] ([id])
GO
ALTER TABLE [dbo].[Product$] CHECK CONSTRAINT [FK_Product$_Supplier$]
GO
ALTER TABLE [dbo].[Product$]  WITH CHECK ADD  CONSTRAINT [FK_Product$_Tovar$] FOREIGN KEY([tovarId])
REFERENCES [dbo].[Tovar$] ([id])
GO
ALTER TABLE [dbo].[Product$] CHECK CONSTRAINT [FK_Product$_Tovar$]
GO
ALTER TABLE [dbo].[User1]  WITH CHECK ADD  CONSTRAINT [FK_User1_Role$] FOREIGN KEY([roleid])
REFERENCES [dbo].[Role$] ([id])
GO
ALTER TABLE [dbo].[User1] CHECK CONSTRAINT [FK_User1_Role$]
GO
